<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- v-bind : 연결하겠다. 이 id 에 바인딩하겠다 -->
        <p v-bind:id = "uuid" v-bind:class="name">{{ num }}</p>
        <!-- <p id="abc1234">{{ num }}</p> -->
        <p>{{ doubleNum }}</p>
        <div v-if="loading">
            <!-- user 가 로그인 전 로딩 상태 -->
            Loading...
        </div>
        <div v-else>
            <!-- user 가 로그인 됨 -->
            test user has been logged in
        </div>
        <!-- loading 이 false 이더라도, 유관상 보인다 -->
        <div v-show="loading">
            Loading...
        </div>
        <!-- TODO : input box 를 만들고, 입력된 값을 p 태그에 출력 -->
        <input type="text" v-model="message">
        <p>{{ message }}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // 인스턴스를 생성하고, app 이라는 태그의 인스턴스를 붙이겠다
        new Vue({
            el: '#app',
            data: {
                num: 10,
                uuid: 'abc1234',
                name: 'text-blue',
                loading: true,
                message: ''
            },
            // computed 속성
            computed: {
                doubleNum: function() {
                    return this.num * 2;
                }
            }
        })
    </script>
</body>
</html>